rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /voca/{env}/users/{userId}/wordbooks/{fileName} {

      function isSignedIn() {
        return request.auth != null;
      }

      function isOwner() {
        return isSignedIn() && request.auth.uid == userId;
      }

      allow write: if isOwner();

      allow read: if
        isOwner() ||
        resource.metadata.readAccess == "Public";
    }
  }
}
