html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #eee;
}

textarea {
  background-color: #111;
  color: #eee;
}

.firebase-emulator-warning {
  display: none;
}

.auth-wrapper {
  max-width: 250px; /* 이메일 한 줄 + 여유 */
}
